<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Facebook">

<!-- 	<parameter name="server" value="LIVE"/> -->

		<listeners>
			<listener class-name="listener.ReportListener"/>
		</listeners>


  <test name="Run on CHROME browser">
  	<parameter name="browser" value="chrome"/>
  	
    <classes>
      <class name="listener.Register"/>
    </classes>  
    
  </test>
  
</suite>